//- 组件名称：左右等分容器
mixin CONTAINER_DOUBLE(node, parentNode)
    -
        var bgColor = node.bgColor;
        var leftWidth = node.leftWidth;
        var rightWidth = node.rightWidth;
        var childNodesLeft = node.childNodesLeft;
        var childNodesRight = node.childNodesRight;

    table(
        width='100%',
        bgcolor=(bgColor || false),
        style=parseStyle({
            'width': '100%',
            'background-color': bgColor
        })
    )
        tbody
            tr
                td(
                    width=(leftWidth || false),
                    style=parseStyle({
                        'width': leftWidth
                    })
                )
                    each childNode in childNodesLeft
                        +createPartialPug(childNode, node)
                td(
                    width=(rightWidth || false),
                    style=parseStyle({
                        'width': rightWidth
                    })
                )
                    each childNode in childNodesRight
                        +createPartialPug(childNode, node)