//- 组件名称：图片头部+内容
mixin IMG_CONTENT(node, parentNode)
    -
        var src = node.src;
        var alt = node.alt;
        var fontSize = node.fontSize;
        var fontColor = node.fontColor;
        var lineHeight = node.lineHeight;
        var bgColor = node.bgColor;
        var childNodes = node.childNodes;
        var paddingLeft = node.paddingLeft;
        var paddingRight = node.paddingRight;
        var paddingTop = node.paddingTop;
        var paddingBottom = node.paddingBottom;
        var imgWith = node.imgWidth;
        var imgHeight = node.imgHeight;
        var marginLeft = node.marginLeft;
        var marginTop = node.marginTop;
        var marginRight = node.marginRight;
        var marginBottom = node.marginBottom;

    if src
        table.banner.section(
            style=parseStyle({
                'background-color': bgColor,
                'margin': marginTop + ' ' + marginRight + ' ' + marginBottom + ' ' + marginLeft
            }),
            bgColor=bgColor || false
        )
            tbody
                tr
                    td
                        img(
                            src=src || false,
                            alt=alt || false,
                            width=imgWith || false,
                            height=imgHeight || false
                        )
                tr
                    td.content(
                        style=parseStyle({
                            'padding': paddingTop + ' ' + paddingRight + ' ' + paddingBottom + ' ' + paddingLeft,
                            'font-size': fontSize,
                            'color': fontColor,
                            'line-height': lineHeight
                        })
                    )
                        each childNode in childNodes
                            +createPartialPug(childNode, node)
    else
        div(
            style=parseStyle({
                'padding': paddingTop + ' ' + paddingRight + ' ' + paddingBottom + ' ' + paddingLeft,
                'margin': marginTop + ' ' + marginRight + ' ' + marginBottom + ' ' + marginLeft,
                'background-color': bgColor,
                'line-height': lineHeight,
                'border-radius': '10px'
            })
        )
            each childNode in childNodes
                +createPartialPug(childNode, node)